<style>
.dashboard-title {
  margin-left: 5%;
}

.statistics {
  margin-right: 5%;
}

.separator-line {
  width: 100%;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
}

.charts {
  margin-left: 5%;
}

</style>


<div class='dashboard-title'><h3>National statistics summary</h3></div>

<div class='separator-line'>&nbsp;</div>

<div class="row statistics">
  <div class="col-lg-12 main-chart"> 
    
    <div class="row ">
      <%
        attributes = [
          ['Newly Received (HQ)', 53],
          ['Print Que (HQ)', 2126],
          ['Verified (HQ)', 3771],
          ['Re-print Que (HQ)', 47],
          ['Suspected Duplicate (HQ)', 245],
          ['Incomplete Record (HQ)', 1],
          ['Printed (HQ)', 2003],
          ['Printed and Dispatched(HQ)', 72344],
          ['Voided (HQ)', 50],
        ]
      %>
      <%(attributes || []).each do |a, count|%>   
      <div class="col-md-2 col-sm-2 col-md-offset-1 box0">
        <div class="box1">
          <span class="li_heart"></span>
          <h3><%=count%></h3>
        </div>
        <p><%= a %></p>
      </div>
      <%end%>
    </div><!-- /row mt -->	

  </div>


  <div class="row charts">
    <div class="col-lg-12"> 
      
      <div class="col-md-6">
        <%= render partial: 'person/charts/bar_statistics' %>
      </div>
       
      <div class="col-md-6">
        .........
      </div> 

    </div> 
  </div> 


</div>
