<table style="width:100%" id="sites">
  <thead>
    <tr>
      <th>Site code</th>
      <th>Name</th>
      <th>Description</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  </tbody>
  </tbody>
</table>
