<table style="width:100%" id="sites" class="table table-striped table-advance table-hover">
  <thead>
    <tr>
      <th style="width: 10%;">Location ID</th>
      <th style="width: 10%;">Site code</th>
      <th>Name</th>
      <th>Description</th>
      <th class="ctrls">&nbsp;</th>
    </tr>
  </thead>
  </tbody>
  </tbody>
</table>
