<style>

.callout {
  border-left: 5px solid #eee;
  border-radius: 3px;
  margin: 0 0 20px;
  padding: 15px 30px 15px 15px;
}

.callout .callout-info {
  border-color: #0097bc;
}

.callout-info {
  background-color: #00c0ef;
}

.search-params {
  margin-bottom: 50px;
  text-align: right;
  padding-right: 10px;
  border-width: 0px 0px 0px 0px;
  border-style: solid;
}

</style>

<div class="callout callout-info" style="margin: 10px;">
  <p>To view data, first select the district:&nbsp;<b>Select district</b>.</p>
  <p>Then select the Traditional authority:&nbsp;<b>Select TA</b>.</p>
  <p><b>Villages&nbsp;</b> under the selected <b>district</b> and <b>traditional authority</b> will show.</p>
</div>

<div class="search-params">
  <label>Select district:</label>
  <select  onchange="fetchTAs(this)" id="selected_dc" style="margin-right: 10%;">
    <option></option>
    <%(@districts || []).each do |district|%>
      <option value="<%=district.id%>"><%=district.name%></option>
    <%end%>
  </select>
  &nbsp;
  &nbsp;
  <label>Select TA:</label>
  <select  onchange="fetchVillages(this)" id="selected_ta">
    <option>&nbsp;</option>
  </select>
</div>


<table style="width:100%" id="sites" class="table table-striped table-advance table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <!--th>TA</th>
      <th>District</th-->
      <th class="ctrls">&nbsp;</th>
    </tr>
  </thead>
  </tbody>
  </tbody>
</table>


<script>

function fetchTAs(e) {                                                       
                                                                            
  if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari  
    xmlhttp=new XMLHttpRequest();                                             
  }else{// code for IE6, IE5                                                  
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");                           
  }                                                                           
  xmlhttp.onreadystatechange=function() {                                     
    if (xmlhttp.readyState==4 && xmlhttp.status==200) {                       
      var results = xmlhttp.responseText;                                     
      if(results == 'undefined' || results == '' || results == '"not validate"') {                           
        return;                                                               
      }else{                                                                  
        //dataTable.fnClearTable();
        addTraditionalAuthorities(results);    
      }                                                                       
    }                                                                         
  }                                                                           
  xmlhttp.open("GET","/get_tas/" + e.value, true);           
  xmlhttp.send();                                                             
}

function addTraditionalAuthorities(results) {
  locations = JSON.parse(results);
  e = document.getElementById('selected_ta');
  removeOptions(e);
  dataTable.fnClearTable();

  for(var i = 0 ; i < locations.length ; i++){
    var option = document.createElement("option");
    option.setAttribute('value', locations[i]['location_id']);
    option.text = locations[i]['name'];
    e.appendChild(option);
  }

}

function fetchVillages(e) {                                                       
                                                                            
  if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari  
    xmlhttp=new XMLHttpRequest();                                             
  }else{// code for IE6, IE5                                                  
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");                           
  }                                                                           
  xmlhttp.onreadystatechange=function() {                                     
    if (xmlhttp.readyState==4 && xmlhttp.status==200) {                       
      var results = xmlhttp.responseText;                                     
      if(results == 'undefined' || results == '' || results == '"not validate"') {                           
        return;                                                               
      }else{                                                                  
        dataTable.fnClearTable();
        addVillages(results);    
      }                                                                       
    }                                                                         
  }                                                                           
  xmlhttp.open("GET","/get_villages/" + e.value, true);           
  xmlhttp.send();                                                             
}

function addVillages(results) {
  var locations = JSON.parse(results);

  for(var i = 0 ; i < locations.length ; i++){
    location_id      = locations[i]['location_id'];
    name             = locations[i]['name'];
    ta               = locations[i]['ta'];
    district         = locations[i]['district'];

    //dataTable.api().row.add([name, ta, district, createBtn(location_id)]).draw();
    dataTable.api().row.add([name, createBtn(location_id)]).draw();
  }
}

function removeOptions(selectbox) {
  e.innerHTML = '';
  var option = document.createElement("option");
  e.appendChild(option);
}

</script>
