
<div class="panel panel-default">
  <div class="panel-heading" style="height: 50px;">
    <table style="width: 100%;">
      <tr>
        <td>
          <h3 style="padding-bottom: 15px;color:darkslategray; height: 40px;margin-top: 0px;">Change password</h3>
        </td>
        <td colspan="8" style="width: 60%;">
          <div class="pull-right" style="height: 40px; margin-top: 0px;">

          </div>
        </td>
      </tr>
    </table>
  </div>

  <label id='success' class="label label-danger hidden" style="margin-left: 50%">
    &nbsp;
  </label>
  <div style="display: table; width: 100%; border-spacing: 0.15em; color: #3465a4; font-size: 16px; margin-top: 50px; padding:0">

  <div style="display: table-row; padding:0">

    <div style="display: table-cell; text-align: right; width: 45%;padding:0%">

      Current Password

    </div>

    <div style="display: table-cell; text-align: center;padding:0%">

      :

    </div>

    <div id="cursor_for_old_password" style="display: table-cell; font-weight: bold; font-size: 36px;padding:0%">
    </div>

    <div style="display: table-cell; width: 45%;padding:0%">

      <input type="password" name="old_password" id="old_password" value="" class="input_cell" onclick="changeFocusToMe(this)" />

    </div>

  </div>
  <div style="display: table-row; padding:0">

    <div style="display: table-cell; text-align: right; width: 45%;padding:0%">

      New Password

    </div>

    <div style="display: table-cell; text-align: center;padding:0%">

      :

    </div>

    <div id="cursor_for_new_password" style="display: table-cell; font-weight: bold; font-size: 36px;padding:0%">
    </div>

    <div style="display: table-cell; width: 45%;">

      <input type="password" name="new_password" id="new_password" value="" class="input_cell" onclick="changeFocusToMe(this)" />

    </div>

  </div>

  <div style="display: table-row;padding-top:0%">
    <div style="display: table-cell; text-align: right; width: 45%;padding:0%">

      Confirm Password

    </div>

    <div style="display: table-cell; text-align: center;padding:0%">

      :

    </div>

    <div id="cursor_for_confirm_password" style="display: table-cell; font-weight: bold; font-size: 36px;padding:0%">
    </div>

    <div style="display: table-cell; width: 45%;padding:0%">

      <input type="password" name="confirm_password" id="confirm_password" value="" class="input_cell" onclick="changeFocusToMe(this)" />

    </div>

  </div>

  </div>
  <div class="btn-ctrls" style="padding-left: 44.5%;margin-top: 20px;">
    <a class="btn btn-sm btn-warning"
       onclick="javascript:location='/'">
      <span class="fa fa-chevron-circle-left"></span>
      Back
    </a>

    <a class="btn btn-sm btn-success"
       onclick="changePassword();">
      <span class="fa fa-pencil"></span>
      Update Password
    </a>

  </div>
</div>


</div>
</div>

<script>

    function __$(id) {
        return document.getElementById(id);
    }

    function changePassword() {

        if (__$("new_password") && __$("confirm_password") && __$("old_password") && (
                __$("new_password").value.trim().length == 0 || __$("confirm_password").value.trim().length == 0 ||
                __$("old_password").value.trim().length == 0)) {

            showMsg("Please fill all fields!");

         } else if (__$("new_password") && __$("confirm_password") && __$("new_password").value.trim() != __$("confirm_password").value.trim()) {

            showMsg("Password Mismatch!");

         } else if (__$("new_password") && __$("confirm_password") && __$("new_password").value.trim() == __$("old_password").value.trim()) {

            showMsg("Old password and new password are the same!");

        
         } else {

            ajaxSave();

        }

    }

    function ajaxSave() {

        var url = "/update_password/<%= @user.id%>";

        jQuery.ajax({
            url: url,
            data: {'old_password' : __$("old_password").value.trim(),
                   'new_password' :  __$("new_password").value.trim()
                   },
            success: function(result){
                if (result.trim().toLowerCase() == "true") {

                    showMsg("Password Succesfully Changed!");

                    window.location = "/";

                } else if (result.trim().toLowerCase() == "not same") {

                    showMsg("Your Current Password is not correct!");

                } else if (result.trim().toLowerCase() == "same") {

                    showMsg("Your new Password has been used before!");

                } else {

                    showMsg("Password Change Failed!");

                }
            }
        })
    }

    function changeFocusToMe(control){

        if(control) {

            if(__$("cursor_for_" + control.id)){

                if(__$("cursor")){

                    __$("cursor_for_" + control.id).appendChild(__$("cursor"));

                }

            }


        }

    }

    changeFocusToMe(__$("old_password"));
    
    
     showMessage()

  function  showMessage()
  {
      <% if flash[:error].present? %>
          showMsg('<%= flash[:error] %>');
      <% elsif flash[:info].present? %>
          showMsg('<%= flash[:info] %>');    
      <% end %>
     
  }
function showMsg(msg){
    __$('success').innerHTML = msg;
    jQuery('#success').attr('class',"label label-danger");
}


</script>
