development: &development
  protocol: 'http'
  host: localhost
  port: 5984
  prefix: ebrs
  suffix: hq_development
  username: admin
  password: password
test:
  <<: *development
  suffix: test

production:
  <<: *development
  protocol: 'http'
  suffix: hq_production

npid_migration:
  <<: *development
  prefix: ebrs_hq
  suffix:
  host: 192.168.48.2
  port: 5900
  username: admin
  password: password
