development: &development
  protocol: 'http'
  host: localhost
  port: 5984
  prefix: ebrs
  suffix: hq_development
  username: admin
  password: password
  crtkey: password
test:
  <<: *development
  suffix: test

production:
  <<: *development
  protocol: 'http'
  suffix: hq_production


#Only when migrating from EBRS 1 to 2
user_migration:
  <<: *development
  prefix: 
  suffix:
