<style>

.panel-btns {
  height: 120px;
  width:  220px;
  font-size: 15px;
}

.panel-btns-main-containers {
  width: 100%;
}

.dashboard-title {
  margin-left: 1%;
}

.separator-line {
  width: 100%;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
}

#table-container {
  display: table;
  width: 100%;
}

.rows  {
  display: table-row;
  width: 100%;
}

.cells {
  display: table-cell;
  padding: 10px;
}


</style>


<div class='dashboard-title'><h3>Manage sites</h3></div>

<div class='separator-line'>&nbsp;</div>


<div id='button-container' class="panel-btns-main-containers"></div>



    <%
      attributes = [
        ['Districts', 'dc'],
        ['Health facilities', 'fc'],
        ['Traditionl Authority', 'ta'],
        ['Villages', 'vl']
      ]
    %>


<script>
  var container = document.getElementById('button-container');

  var row_count = 1;
  var attributes = [];
  <%(attributes).each do |a, count|%>
    attributes.push(["<%=a%>", "<%=count%>"]);  
  <%end%>

  var table = document.createElement('div');
  table.setAttribute('class','table-container');
  container.appendChild(table);

  var table_row = document.createElement('div');
  table_row.setAttribute('class','rows');
  table.appendChild(table_row);

  for(var i = 0; i < attributes.length; i++){
    var cell = document.createElement('div');
    cell.setAttribute('class','cells');
    var btn = document.createElement('button');
    btn.setAttribute('type','button');
    btn.setAttribute('class','btn btn-primary btn-lg panel-btns');
    btn.innerHTML = attributes[i][0];
    btn.setAttribute('onclick',"document.location='/location/" + attributes[i][1] + "'");
    cell.appendChild(btn);
    table_row.appendChild(cell);

    if(row_count == 5) {
      table_row = document.createElement('div');
      table_row.setAttribute('class','rows') 
      table.appendChild(table_row);
      row_count = 0;
    }
    row_count++;
  }

</script>
