<style>
  .form-control, select{
      width: 75%; !important;
      margin: 0px;
      margin-left: 50px;
      color: black;
  }
label{
    width: 60%;
    font-weight: bold;
    color: #3465a4;
    padding: 0px; margin-top: 0px;
}
.form-group{
}
sup{
    color: red;
    font-size: 14px;
}
</style>

<%= form_for(@property, url: "/set_property", method: 'post') do |f| %>
    <div class="form-group">
        <% @paper_size = ["","A4","A5"] %>
        <label for="paper_size"><sup>*</sup>Paper Size:</label>
        <%= select_tag "property[paper_size]", 
            options_for_select(@paper_size, @papersize), 
            :class => 'input_cell form-control', 
            :placeholder => "Select Paper Size", 
            :required => true %>
    </div>

    <div style="padding: 8px;">
        <label id='required' class="label label-danger hidden">
          Please enter all required fields indicated by *
        </label>
    </div>
    <a class="btn btn-success pull-right"
       onclick="validate()">
      <span class="fa fa-save"></span>
      Save
    </a>

    <a class="btn btn-warning"
       onclick="javascript:location='person/index'">
      <span class="fa fa-chevron-circle-left"></span>
      Back
    </a>
<% end %>
<script>
  function validate(){
          if (__$('property_paper_size').value.trim().length == 0){
              jQuery('.label-danger').attr('class', 'label label-danger hidden');
            __$("required").className = "label label-danger";
              return;
          }

      __$('new_global_property').submit();
  }
</script>