<div class="panel panel-default">
    <div class="panel-heading" style="height: 50px;">
      <table style="width: 100%;">
        <tr>
          <td>
            <h3 style="padding-bottom: 15px;color:darkslategray; height: 40px;margin-top: 0px;">Set Signature</h3>
          </td>
          <td colspan="8" style="width: 60%;">
            <div class="pull-right" style="height: 40px; margin-top: 0px;">
            </div>
          </td>
        </tr>
      </table>
    </div>
  
    <div style="width: 40%;margin-top: 5px; margin-left: 30%; padding: 20px;">
        <%= render 'paper_size_form' %>
  </div>
  
  </div>
